<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getContentEditorWarnings>
        <!-- Sitecore License Expiration Module Content Editor Warning -->
        <processor type="Sitecore.License.Expiration.Module.SitecoreLicenseExpirationGetContentEditorWarningProcessor,Sitecore.License.Expiration.Module" patch:before="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.RunRules, Sitecore.Kernel']" />
      </getContentEditorWarnings>
    </pipelines>
    <scheduling>
      <!-- Sitecore License Expiration Module Agent -->
      <agent type="Sitecore.License.Expiration.Module.SitecoreLicenseExpirationAgent,Sitecore.License.Expiration.Module" method="Run" interval="08:00:00">
        <param desc="url">http://YOURHOSTNAME</param>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
